@import "./normalize";
@import "./tailwind/normalize";
@import "./tailwind/typography";
@import "./rfs";

@mixin light-theme {
  --background: white;
  --body-text-color: #444444;
  --heading-text-color: black;
  --subhead-text-color: #808080;
  --link-text-color: tomato;
  --inline-code-background: #f3f3f3;
  --inline-code-text-color: #444444;
}

@mixin dark-theme {
  --background: #282c34;
  --body-text-color: #abb2bf;
  --heading-text-color: white;
  --subhead-text-color: #c7d0e0;
  --link-text-color: tomato;
  --inline-code-background: #f3f3f3;
  --inline-code-text-color: black;
}

:root {
  color-scheme: light dark;
  @include light-theme;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme;
  }
}

html {
  font-size: 17px;

  @media (min-width: 360px) {
    font-size: 18px;
  }
}

body {
  color: var(--body-text-color);
  background-color: var(--background);
  line-height: 1.25;
  margin: 0;

  @media (min-width: 360px) {
    line-height: 1.75;
  }
}

.container {
  margin: 0 auto;
  max-width: 80ch;
  margin-bottom: 12rem;
  padding: 0 4px;
  padding-top: 8px;

  @media (min-width: 360px) {
    padding: 0 20px;
    padding-top: 60px;
  }

  @media (min-width: 1024px) {
    max-width: 80ch;
  }
}

a {
  color: var(--link-text-color);
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: var(--link-text-color);
  }
}

%heading {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: var(--heading-text-color);
}

blockquote {
  & > cite {
    @include font-size(0.75rem);
    @include margin-top(0.5rem);
    display: block;
    text-align: right;
  }
}

.gigabit-map {
  margin: 0;

  iframe {
    width: 100%;
    height: 500px;
    border: 0;
  }

  figcaption {
    text-align: right;
    font-style: italic;
    color: var(--subhead-text-color);
    font-size: 12px;
  }
}

.post-header {
  @include margin-bottom(2.5rem);

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  .date {
    margin: 0;
    @include margin-top(2.75rem);
    font-size: 0.75rem;
  }

  h1,
  h2 {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  h1 {
    @extend %heading;
    @include font-size(2.5rem);
    font-weight: 700;
  }

  h2 {
    @extend %heading;
    @include font-size(2rem);
  }

  .subtitle {
    color: var(--subhead-text-color);
    margin: 0;
  }
}

nav {
  position: absolute;
  top: 4px;
  left: 4px;

  @media (min-width: 360px) {
    top: 1rem;
    left: 1rem;
  }

  a,
  a:hover {
    text-decoration: none;
  }
}

.home-header {
  text-align: left;

  @media (min-width: 1024px) {
    text-align: left;
  }

  h1 {
    @include font-size(3rem);
    color: var(--heading-text-color);
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 35px;
      height: 35px;
      margin-right: 12px;
      border-radius: 25px;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15),
        0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 -0.1px 3px 0 rgba(0, 0, 0, 0.08);

      @media (min-width: 360px) {
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }

      @media (min-width: 1024px) {
        width: 75px;
        height: 75px;
        border-radius: 75px;
        margin-right: 25px;
      }
    }
  }

  .links {
    font-size: 0.8rem;
    margin-top: 0;
    @include margin-bottom(2.5rem);

    & a {
      margin-right: 10px;
    }
  }

  .bio {
    margin-bottom: 4rem;
  }
}

pre,
.prose img,
.prose video {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px,
    rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
  border-radius: 4px;
}

code {
  white-space: pre-wrap;
  background: var(--inline-code-background);

  @media (min-width: 360px) {
    padding: 0.2rem 0.4rem;
  }
}
