@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/fira-sans/FiraSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/fira-sans/FiraSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

$system-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

html {
  font-family: $system-sans-serif;
  color: #333;
  line-height: 1.6;
  font-size: 18px;

  &.firasans-font-loaded {
    font-family: 'Fira Sans', $system-sans-serif;
  }
}

body {
  animation: none;
}

header {
  text-align: center;
  @media screen and (min-width: 1024px) {
    text-align: left;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 60px;
  @media screen and (min-width: 1024px) {
    width: 700px;
  }
}

.my-name {
  margin: 0;
}

a {
  color: #888;
  font-weight: bold;
}

.links {
  margin-top: 0;
  font-size: 12px;
  a {
    margin-right: 10px;
  }
}
