<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%- if page.title -%}
      <title>{{ page.title }} - {{ config.title }}</title>
    {%- else -%}
      <title>{{ config.title }}</title>
    {%- endif -%}
    <meta name="theme-color" content="tomato">
    {%- if page.description -%}
      <meta name="description" content="{{ page.description }}">
    {%- else -%}
      <meta name="description" content="{{ config.description }}">
    {%- endif -%}

    {%- if page.extra.has_opengraph or section.extra.has_opengraph -%}
      <meta property="og:site_name" content="{{ config.title }}">
      {%- if page.title -%}
        <meta property="og:title" name="twitter:title" content="{{ page.title | escape }}">
      {%- else -%}
        <meta property="og:title" name="twitter:title" content="{{ config.title | escape }}">
      {%- endif -%}
      {%- if current_path == "/" -%}
        <meta property="og:type" content="website">
        <meta property="og:image" name="twitter:image" content="{{ resize_image(path='img/avi.jpg', width=300, height=300) | get(key='url') | safe }}">
      {%- else -%}
        <meta property="og:type" content="article">
      {%- endif -%}
      {%- if page.permalink -%}
        <meta property="og:url" name="twitter:url" content="{{ page.permalink | safe }}">
      {%- elif section.permalink -%}
        <meta property="og:url" name="twitter:url" content="{{ section.permalink | safe }}">
      {%- endif -%}
      {%- if page.description -%}
        <meta property="og:description" name="twitter:description" content="{{ page.description }}">
      {%- else -%}
        <meta property="og:description" name="twitter:description" content="{{ config.description }}">
      {%- endif -%}
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@dstaley">
      <meta name="twitter:creator" content="@dstaley">
    {%- endif -%}

    <link rel="canonical" href="{{ current_url | safe }}">
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ get_url(path="rss.xml", trailing_slash=false) | safe }}">

    <link rel="shortcut icon" href="/img/rocket.png">

    {%- if current_url is starting_with("http://127.0.0.1:1111/") -%}
      <link rel="stylesheet" href="/index.css">
    {%- else -%}
      <style>{{ load_data(path="public/index.css") | trim | safe }}</style>
    {%- endif -%}
  </head>
  <body>
    <div class="container">{% block main %}{% endblock %}</div>
  </body>
</html>
