{% extends "base.html" %}

{%- block main -%}
  <header class="home-header">
    <h1>
      <img
        alt="A photo of Dylan Staley"
        src="{{ resize_image(path='img/avi.jpg', width=75, height=75) | get(key='url') | safe }}"
        srcset="
          {{ resize_image(path='img/avi.jpg', width=75, height=75) | get(key='url') | safe }},
          {{ resize_image(path='img/avi.jpg', width=300, height=300) | get(key='url') | safe }} 2x
        "
        width="75"
        height="75"
      />Dylan Staley
    </h1>
    <p class="links">
      <a rel="me" href="https://mastodon.social/@dstaley">mastodon</a>
      <a href="https://twitter.com/dstaley">twitter</a>
      <a href="https://github.com/dstaley">github</a>
      <a href="/links">more...</a>
    </p>
  </header>
  {{ section.content | safe -}}

  {%- set posts_section = get_section(path ="posts/_index.md") -%}
  {%- set posts = posts_section.pages -%}
  {%- for post in posts -%}
    <div class="post-header">
      <p class="date">{{ post.date | date(format="%B %-d, %Y") }}</p>
      <a href="{{ post.path | safe }}">
        <h2>{{ post.title }}</h2>
      </a>
      {%- if post.description -%}
        <p class="subtitle">{{ post.description }}</p>
      {%- endif -%}
    </div>
  {%- endfor -%}
{% endblock %}
