{% extends "base.html" %}
{% import "entry.html" as entry %}

{% block main %}
  {% set back_path = "/movies/" %}
  {% set back_label = "Movies" %}
  {% include "back_button.html" %}
  <article>
    {% set description = entry::movie_description(theater=page.extra.theater, screen=page.extra.screen | default(value=""), seat=page.extra.seat | default(value="")) %}
    {{ entry::heading(
      title=page.title,
      description=description,
      date=page.date | date(format="%a %B %-d, %Y @ %-I:%M%P"),
      slug=page.slug,
      additional_description=page.description | default(value="")
    ) }}
    <main class="prose dark:prose-invert prose-a:text-tomato-600 dark:prose-a:text-tomato-300 prose-pre:shadow-lg prose-video:shadow-lg prose-img:rounded-md prose-img:shadow-lg prose-video:rounded-md prose-headings:text-base">{{ page.content | safe }}</main>
  </article>
{% endblock %}
