<!doctype html>
<html ⚡>

  {% include head.html %}

  <body>

    <div class="container">
      {{ content }}
    </div>

    <amp-analytics type="googleanalytics" id="google-analytics">
      <script type="application/json">
        {
          "vars": {
            "account": "UA-50952314-1"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
      </script>
    </amp-analytics>
  </body>

</html>
